
@media (max-width: 911px){
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
    }
    main{
        width: 100%;
        left: 0;
    }
    main.active{
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px){
    .details{
    grid-template-columns: repeat(1, 1fr);
    }
    .recentOrders{
        overflow-x: auto;
    }
    .status.inprogress{
        white-space: nowrap;
    }
}
@media (max-width: 480px){
    .cardBox{
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2{
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    main.active .toggle{
        z-index: 10001;
        position: fixed;
        right: 0;
        position: initial;
        color: var(--white);
    }
}